---
title: Index
---

<h1>Triggrd - Search</h1>

<div class="search">
  <label for="srch" class="search-label">Gib ein:</label>
  <input type="text" class="search-input" id="srch" value="farbtrends">

  <p class="search-count">Results: {#count#}</p>
</div>
